# (mongodb TCP connect)only needed in self-hosted
MONGODB_URI=mongodb+srv://user:passwd@clusterx.xxxxxxx.mongodb.net/

# (mongodb HTTP REST api)only needed in none-self-hosted 
MONGODB_ENDPOINT=https://us-east-1.aws.data.mongodb-api.com/app/xxxxxxxx/endpoint/data/v1
MONGODB_DATA_SOURCE=mongodb-atlas
MONGODB_USER=xxxxx@example.com
MONGODB_PWD=xxxxxxxxxxxxxx

# will override the config.ts
CommentRepoId=xxxxxxxxxxxxxxx
CommentDiscussionCategoryId=xxxxxxxxxxxxxx
CloudflareAnalyze=xxxxxxxxxxxxxxxxxx
MSClarityId=xxxxxxxxxxxxx