# for visitors statistics
CLOUDFLARE_D1_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDFLARE_D1_DATABASE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CLOUDFLARE_D1_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# will override the config.ts
CommentRepoId=xxxxxxxxxxxxxxx
CommentDiscussionCategoryId=xxxxxxxxxxxxxx
CloudflareAnalyze=xxxxxxxxxxxxxxxxxx
MSClarityId=xxxxxxxxxxxxx