@font-face {
  font-family: "Source Han Sans";
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-ExtraLight.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-Normal.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Source Han Sans";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("https://cdn.jsdelivr.net/npm/source-han-sans-cn@1.0.0/SourceHanSansCN-Heavy.otf") format("opentype");
  font-display: swap;
}
