body[code-theme="light"] .hljs {
  color: #24292e;
  background: #fff !important;

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ { color: #d73a49; }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ { color: #6f42c1; }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable { color: #005cc5; }

  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string { color: #032f62; }

  .hljs-built_in,
  .hljs-symbol { color: #e36209; }

  .hljs-code,
  .hljs-comment,
  .hljs-formula { color: #6a737d; }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag { color: #22863a; }
  .hljs-subst { color: #24292e; }

  .hljs-section {
    color: #005cc5;
    font-weight: 700;
  }
  .hljs-bullet { color: #735c0f; }

  .hljs-emphasis {
    color: #24292e;
    font-style: italic;
  }

  .hljs-strong {
    color: #24292e;
    font-weight: 700;
  }

  .hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
  }

  .hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
  }
}

body[code-theme="dark"] .hljs {
  color: #abb2bf;
  background: #282c34 !important;

  .hljs-comment,
  .hljs-quote {
    color: #5c6370;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-formula,
  .hljs-keyword { color: #c678dd; }

  .hljs-deletion,
  .hljs-name,
  .hljs-section,
  .hljs-selector-tag,
  .hljs-subst { color: #e06c75; }
  .hljs-literal { color: #56b6c2; }

  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string { color: #98c379; }

  .hljs-attr,
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-pseudo,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable { color: #d19a66; }

  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-symbol,
  .hljs-title { color: #61aeee; }

  .hljs-built_in,
  .hljs-class .hljs-title,
  .hljs-title.class_ { color: #e6c07b; }
  .hljs-emphasis { font-style: italic; }
  .hljs-strong { font-weight: 700; }
  .hljs-link { text-decoration: underline; }
}
