@font-face {
  font-family: lxgwwenkai;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src:
    url("https://cdn.jsdelivr.net/npm/lxgwwenkai@1.0.1/woff2/LXGWWenKai-Light.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/npm/lxgwwenkai@1.0.1/ttf/LXGWWenKai-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: lxgwwenkai;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src:
    url("https://cdn.jsdelivr.net/npm/lxgwwenkai@1.0.1/woff2/LXGWWenKai-Regular.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/npm/lxgwwenkai@1.0.1/ttf/LXGWWenKai-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: lxgwwenkai;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src:
    url("https://cdn.jsdelivr.net/npm/lxgwwenkai@1.0.1/woff2/LXGWWenKai-Bold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/npm/lxgwwenkai@1.0.1/ttf/LXGWWenKai-Bold.ttf") format("truetype");
  font-display: swap;
}
